@mixin desktop
{
    @media screen and (min-width: 769px)
    {
        @content
    }
};

//variables
$light-blue:#AAD2F5;
$pink: #FCA8A8;
$dark-blue: #5784BA;
$light-pink:#F4CFDF;
$text-color:#3A587C;
$hHeaderMobile: 28vh;
$hHeaderDesktop: 18vh;

body
{
    margin: 0;
    padding: 0;
    font-family:Trebuchet MS;
    font-style: italic;
    color: $dark-blue;
    position: relative;
    font-size: 1rem; 
    header
    {
        opacity: 0.9;
        background-color: white;
        z-index: 1;
        position : fixed; 
        top: 0px;
        width: 100%;
        height: $hHeaderMobile;
        text-align: center;
        
        @include desktop { height: $hHeaderDesktop; }
        h1 { font-family: 'Seymour One', sans-serif; }

        .buttonForm
        {
            @include desktop
            {
                margin-top: 0.5vh;
                width: 20vh;
            }
            background-color:$dark-blue;
            border-radius:15px;
            border:2px solid $dark-blue;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Trebuchet MS;
            font-size:2vh;
            font-weight:bold;
            padding:1vh 1.3vh;
            text-decoration:none;

            &:hover { background-color:$dark-blue; }
            &:active
            {
                position:relative;
                top:1px;
            }
        }
        .createEvent
        {
            margin-top: 2vh;
            height: 16vh;
            display: flex;
            flex-direction: column;
            .test
            {
                display: flex;
                flex-direction: column;
                width: 100%;
                white-space: wrap;
                text-align: center;
                justify-content: center;
                align-items: center;
            }

            @include desktop
            {
                height: 6vh;
                flex-direction: row;
                flex-wrap: wrap;
                flex-grow: 1;
                margin-left: 8vw;
                margin-right: 8vw;
                .test
                {
                    width: 20vw;
                    margin-left: 0.5vw;
                    margin-right: 0.5vw;
                }
            }

            text-align: center;
            justify-content: center;
            align-items: center;
            .inputTXT, .date
            {
                width: 80vw;
                @include desktop { width: 18vw; }
                height: 2vh;
                border-radius: 5px;
                background-color: $light-blue;
                border: 0;
            }

        }
    }
    main
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: $hHeaderMobile;

        @include desktop { margin-top: $hHeaderDesktop; }

        .event
        {
            margin-top: 2vh;
            margin-bottom: 2vh;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            color: black;
            border-radius: 5px / 5px; 
            border: 3px solid #F4CFDF;
            width: 80vw;
            background-color: #F4CFDF;
            h2
            {
                font-weight:bold;
                font-style: normal;
                margin: 1vh 0 0 0;
            }

            section
            {
                display: flex;
                flex-direction: row;
                text-align: center;
                align-items: center;
            }

            .description
            {
                background-color: #FFFFFF;
                min-height: 5vh;
                width: 99%;
                height: 30%;
            }

            table
            {
                width: 100%;
                text-align: center;
                .inputTXT
                {
                    border: 0;
                    width: 90%;
                }
            }

            .ok { background-color: #B5E48C; }

            .no { background-color: #FCA8A8; }

            .name
            {
                background-color: #FFFFFF;
                width: 10%;
            } 
  
            .addGuy  { width: 100%; }

            .buttonDate, .buttonLeftMiddle, .buttonDel
            {
                margin-bottom: 1vh;
                width: 20vw;
                opacity: 0.7;
                border-radius:15px;
                display:inline-block;
                cursor:pointer;
                color:$text-color;
                font-family:Trebuchet MS;
                padding:1vw 1.3vw;

                @include desktop { padding:0.5vh 0.75vh; }

                font-weight:bold;
                text-decoration:none;

                &:hover { opacity: 1; }

                &:active
                {
                    position:relative;
                    top:1px;
                }
            }

            .buttonDate
            {
                margin-top: 2vw;
                width: 40vw;
                background-color:$light-pink;
                border:5px solid #FFFFFF;
            }

            .buttonLeftMiddle, .buttonDel { margin: 3vw 0 1vw 1vw; }

            .buttonLeftMiddle
            {
                background-color:#FFFFFF;
                border:5px solid #FFFFFF;
            }

            .buttonDel
            {
                background-color:$pink;
                border:5px solid $pink;
            }
        }
    }
}

// margin: h d b g;
