body {
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS;
  font-style: italic;
  color: #5784BA;
  position: relative;
  font-size: 1rem;
}
body header {
  opacity: 0.9;
  background-color: white;
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 28vh;
  text-align: center;
}
@media screen and (min-width: 769px) {
  body header {
    height: 18vh;
  }
}
body header h1 {
  font-family: "Seymour One", sans-serif;
}
body header .buttonForm {
  background-color: #5784BA;
  border-radius: 15px;
  border: 2px solid #5784BA;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 2vh;
  font-weight: bold;
  padding: 1vh 1.3vh;
  text-decoration: none;
}
@media screen and (min-width: 769px) {
  body header .buttonForm {
    margin-top: 0.5vh;
    width: 20vh;
  }
}
body header .buttonForm:hover {
  background-color: #5784BA;
}
body header .buttonForm:active {
  position: relative;
  top: 1px;
}
body header .createEvent {
  margin-top: 2vh;
  height: 16vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
body header .createEvent .test {
  display: flex;
  flex-direction: column;
  width: 100%;
  white-space: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) {
  body header .createEvent {
    height: 6vh;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 8vw;
    margin-right: 8vw;
  }
  body header .createEvent .test {
    width: 20vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
}
body header .createEvent .inputTXT, body header .createEvent .date {
  width: 80vw;
  height: 2vh;
  border-radius: 5px;
  background-color: #AAD2F5;
  border: 0;
}
@media screen and (min-width: 769px) {
  body header .createEvent .inputTXT, body header .createEvent .date {
    width: 18vw;
  }
}
body main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 28vh;
}
@media screen and (min-width: 769px) {
  body main {
    margin-top: 18vh;
  }
}
body main .event {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: black;
  border-radius: 5px/5px;
  border: 3px solid #F4CFDF;
  width: 80vw;
  background-color: #F4CFDF;
}
body main .event h2 {
  font-weight: bold;
  font-style: normal;
  margin: 1vh 0 0 0;
}
body main .event section {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
body main .event .description {
  background-color: #FFFFFF;
  min-height: 5vh;
  width: 99%;
  height: 30%;
}
body main .event table {
  width: 100%;
  text-align: center;
}
body main .event table .inputTXT {
  border: 0;
  width: 90%;
}
body main .event .ok {
  background-color: #B5E48C;
}
body main .event .no {
  background-color: #FCA8A8;
}
body main .event .name {
  background-color: #FFFFFF;
  width: 10%;
}
body main .event .addGuy {
  width: 100%;
}
body main .event .buttonDate, body main .event .buttonLeftMiddle, body main .event .buttonDel {
  margin-bottom: 1vh;
  width: 20vw;
  opacity: 0.7;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  color: #3A587C;
  font-family: Trebuchet MS;
  padding: 1vw 1.3vw;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (min-width: 769px) {
  body main .event .buttonDate, body main .event .buttonLeftMiddle, body main .event .buttonDel {
    padding: 0.5vh 0.75vh;
  }
}
body main .event .buttonDate:hover, body main .event .buttonLeftMiddle:hover, body main .event .buttonDel:hover {
  opacity: 1;
}
body main .event .buttonDate:active, body main .event .buttonLeftMiddle:active, body main .event .buttonDel:active {
  position: relative;
  top: 1px;
}
body main .event .buttonDate {
  margin-top: 2vw;
  width: 40vw;
  background-color: #F4CFDF;
  border: 5px solid #FFFFFF;
}
body main .event .buttonLeftMiddle, body main .event .buttonDel {
  margin: 3vw 0 1vw 1vw;
}
body main .event .buttonLeftMiddle {
  background-color: #FFFFFF;
  border: 5px solid #FFFFFF;
}
body main .event .buttonDel {
  background-color: #FCA8A8;
  border: 5px solid #FCA8A8;
}/*# sourceMappingURL=style.css.map */